.login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #27272D;
}

.login-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}

.login-logo {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  text-decoration: none;
}

.login-desktop-menu {
  display: flex;
}

.login-nav {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.login-btn-group {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.login-socials {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.login-image {
  width: 100px;
  object-fit: cover;
}

.login-image1 {
  width: 100px;
  object-fit: cover;
}

.login-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}

.login-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.login-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.login-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.login-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}

.login-logo1 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}

.login-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.login-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.login-text {
  margin-bottom: var(--dl-space-space-unit);
}

.login-text01 {
  margin-bottom: var(--dl-space-space-unit);
}

.login-text02 {
  margin-bottom: var(--dl-space-space-unit);
}

.login-text03 {
  margin-bottom: var(--dl-space-space-unit);
}

.login-text04 {
  margin-bottom: var(--dl-space-space-unit);
}

.login-text05 {
  margin-bottom: var(--dl-space-space-unit);
}

.login-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}

.login-login {
  margin-right: var(--dl-space-space-twounits);
}

.login-icon-group {
  display: flex;
}

.login-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}

.login-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}

.login-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.login-login-input {
  gap: 120px;
  color: var(--dl-color-gray-black);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}

.login-container3 {
  width: 606px;
  height: 667px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login-container4 {
  width: 100%;
  height: 637px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login-header {
  color: rgb(255, 255, 255);
  width: 560px;
  height: 89px;
  font-size: 50px;
  max-width: 900px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 108px;
}

.login-caption {
  color: rgb(255, 255, 255);
  font-size: 18px;
  max-width: 800px;
  text-align: center;
  line-height: 36px;
}

.login-navlink {
  text-decoration: underline;
}

.login-container5 {
  width: 606px;
  height: 362px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login-text08 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  align-self: flex-start;
  text-align: left;
  padding-bottom: var(--dl-space-space-halfunit);
}

.login-textinput {
  height: var(--dl-size-size-small);
  align-self: stretch;
}

.login-container6 {
  width: 606px;
  height: 429px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login-text09 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  align-self: flex-start;
  text-align: left;
  padding-bottom: var(--dl-space-space-halfunit);
}

.login-textinput1 {
  height: var(--dl-size-size-small);
  align-self: stretch;
}

.login-container7 {
  width: 602px;
  height: 367px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login-button2 {
  color: rgb(255, 255, 255);
  line-height: 2;
  padding-top: var(--dl-space-space-halfunit);
  text-decoration: underline;
}

.login-footer {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: flex-start;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
}

.login-main {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

.login-branding {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
}

.login-heading {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.login-navlink1 {
  display: contents;
}

.login-logo2 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  align-self: flex-start;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  text-decoration: none;
}

.login-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.login-socials1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.login-twitter1 {
  text-decoration: none;
}

.login-image2 {
  width: 100px;
  object-fit: cover;
}

.login-discord1 {
  text-decoration: none;
}

.login-image3 {
  width: 100px;
  object-fit: cover;
}

.login-socials2 {
  gap: var(--dl-space-space-unit);
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.login-twitter2 {
  text-decoration: none;
}

.login-image4 {
  width: 100px;
  object-fit: cover;
}

.login-discord2 {
  text-decoration: none;
}

.login-image5 {
  width: 100px;
  object-fit: cover;
}

@media(max-width: 1600px) {
  .login-logo2 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
  }
}

@media(max-width: 1200px) {
  .login-login-input {
    width: 1186px;
  }
}

@media(max-width: 991px) {
  .login-button {
    display: flex;
    padding: var(--dl-space-space-unit);
    flex-direction: row;
  }

  .login-logo1 {
    color: #000000;
  }

  .login-login-input {
    width: 948px;
    height: 713px;
  }
}

@media(max-width: 767px) {
  .login-navbar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .login-login-input {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    padding-bottom: 0px;
  }

  .login-header {
    font-size: 36px;
    max-width: 70%;
    line-height: 43px;
  }

  .login-caption {
    font-size: 16px;
    line-height: 24px;
  }

  .login-footer {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }

  .login-main {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: flex-start;
  }

  .login-heading {
    gap: var(--dl-space-space-unit);
  }

  .login-logo2 {
    font-size: 20px;
    line-height: 24px;
  }

  .login-socials1 {
    display: none;
  }

  .login-socials2 {
    display: flex;
  }
}

@media(max-width: 479px) {
  .login-navbar {
    padding: var(--dl-space-space-unit);
  }

  .login-desktop-menu {
    display: none;
  }

  .login-btn-group {
    display: none;
  }

  .login-burger-menu {
    display: flex;
  }

  .login-mobile-menu {
    padding: 16px;
  }

  .login-login-input {
    width: 100%;
    height: 660px;
  }

  .login-container3 {
    width: 100%;
  }

  .login-container4 {
    width: 422px;
  }

  .login-container5 {
    width: 339px;
    height: 111px;
  }

  .login-container6 {
    width: 347px;
    height: 158px;
  }
}